/* ==========================================================================
ホーム
========================================================================== */

.home_section {
    min-height: 850px;
    background: url("../img/home.jpg") center center;
    background-size: cover;
    position: relative;
}

.home_section .catch {
    position: relative;
    text-align: center;
}

.titleWrap {
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 0%;
}

.title2 {
    width: 400px;
    height: 300px;
    margin: 0 auto;
}

.home_section .info {
    position: absolute;
    bottom: 10px;
}

.home_section .info .youtube {
    margin: 10px;
    background: #000;
}

.home_section .info .facebook_timeline {
    margin: 10px;
}

.videoBox .play {
    position: relative;
    top: -60px;
    left: -190px;
}

.video {
    -webkit-transition: 0.5s ease-in-out;
}

.video:hover {
    opacity: 0.7;
}


/* ==========================================================================
インフォメーション
========================================================================== */

.info_section {
    text-align: center;
}

.info_section .detail {
    font-size: 15px;
}

.info_section .job {
    font-size: 20px;
}

.info_section .name {
    font-size: 32px;
}


/* ==========================================================================
シェア
========================================================================== */

.share_section {
    text-align: center;
}

.share_section .share {
    margin: 50px auto;
}


/*facebook*/

.facebook {
    background-color: #2e4a88;
    box-shadow: 0 4px 0 #1B3D82;
    text-shadow: 0 -1px -1px #1B3D82;
    display: inline;
    position: relative;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    padding: 14px 80px;
}

.facebook:hover {
    background-color: #354F84;
}

.facebook:active {
    top: 2px;
    box-shadow: 0 2px 0 #1B3D82;
}


/*twitter*/

.twitter {
    background-color: #008DDE;
    box-shadow: 0 4px 0 #0078BD;
    display: inline;
    position: relative;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    padding: 14px 80px;
}

.twitter:active {
    top: 2px;
    box-shadow: 0 2px 0 #0078BD;
}

.twitter:hover {
    background-color: #1397D8;
}


/*google*/

.google {
    background-color: #CC3622;
    box-shadow: 0 4px 0 #BA2714;
    display: inline;
    position: relative;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    padding: 14px 80px;
}

.google:active {
    top: 2px;
    box-shadow: 0 2px 0 #BA2714;
}

.google:hover {
    background-color: #D04829;
}


/* ==========================================================================
アニメーション
========================================================================== */

#titleAnime {
    opacity: 0;
}

#infoAnime {
    opacity: 0;
}

#catchAnime {
    opacity: 0;
}
